@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

.liveButtonText {
    color: #FFA505;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.title {
    font-size: 1.1em;
    text-align: center;
    font-weight: 800;
}

.container {
    width: 100%;
    
}

.modal {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: hidden !important;
}
.root {
    box-shadow: 100px #000000 !important;
}

* {
    outline: none !important;
}