@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
    overflow: hidden;
}


.container {
    width: 100vw;
    height: 100vh;
}



.scaleIn {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    animation-name: scale-in-center;
    animation-duration: 0.5s;
}

.scaleOut {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    animation-name: scale-out-center;
    animation-duration: 0.5s;
}

.circle {
    height: 100%;
    width: 100%;
    background-color: white;
}

.animate{
    animation-name: scale-in-center;
    animation-duration: 0.5s;
}


@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }